<script type="text/javascript">
        $(document).ready(function() {
            $("#marker-accordion").accordion({
                collapsible: true,
                autoHeight:  false
            });
        });
    </script><div id="content">
<h1>Compilation Errors</h1>
<div id="marker-accordion">
<h3><a href="#">system\app_header.php - <small>1</small></a></h3>
<div><table>
<tr>
<th>Type</th>
<th>Line</th>
<th>Description</th>
</tr>
<tr>
<td>error</td>
<td>0</td>
<td>No summary was found for this file</td>
</tr>
</table></div>
</div>
</div>
